<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!--styles -->
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
	
    <link rel="stylesheet" type="text/css" href="styles/base.css">
	
    <!--scripts-->
    <script src="lib/angular.min.js"></script>
    <script src="lib/ui-bootstrap.min.js"></script>
    <script src="lib/ng-sortable.min.js"></script>
    <script src="lib/jsplumb/jsPlumb.js"></script>
    <script src="app.js"></script>
	
    <script src="scripts/services/BoardManipulator.js"></script>
    <script src="scripts/services/BoardDataFactory.js"></script>
    <script src="scripts/services/BoardService.js"></script>
    <script src="scripts/controllers/PresentController.js"></script>	
    <script src="scripts/flow/flow.js"></script>
    <script src="scripts/flow/fusty-flow.js"></script>
    <script src="scripts/flow/fusty-flow-factory.js"></script>
    <script src="scripts/flow/ng-flow.js"></script>

</head>
<body ng-app="ng-app">

<div class="wrapper">
	<section>
		
		<h1>Awesome presentation constructor for e-Detailing <small>v.0.3</small></h1>
		<div ng-model="presentData" id="board" ng-controller="PresentController" flow-prevent-drop flow-drag-enter="dropClass='drag-over'" flow-drag-leave="dropClass=''">
			<div ng-if="content == 'presentList'">
				<div class="alert alert-danger sample-show-hide" role="alert" ng-class="{ 'hidden': ! parseError }">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Ошибка:</span>
					В процессе получения данных с сервера возникла ошибка. Только локальный режим. (PHP отключен)
				</div>
				<div class="row">
					<div class="col-md-2" ng-repeat="presentation in presentAllData">
						<a class="presentBlock" ng-href="/?presentId={{presentation.id}}">
							<div class="thumbnail" flow-init>
								<img ng-if="presentation.columns.length>0" ng-src="/api/temp/{{presentation.columns[0].cards[0].data}}" />
								<span ng-if="presentation.columns.length==0" class="glyphicon glyphicon-picture"></span>
							</div>
							<div class="caption">
								<h3>{{presentation.name}}<span class="glyphicon glyphicon-pencil edit"></span></h3>
								<p ng-if="presentation.columns.length>0">
									Доступные визиты:
									<span ng-repeat="col in presentation.columns"> 
										{{col.name}}({{col.cards.length}})
									</span>
								</p>
								<p ng-if="presentation.columns.length==0"><i>пустая презентация</i></p>
							</div>
						</a>
					</div>
					<div class="col-md-2">
						<div class="presentBlock">
							<button class="btn createPresentBtn"  ng-click="createNewPresent()"><span class="glyphicon glyphicon-plus"></span>cоздать презентацию</button>	
						</div>					
					</div>
				</div>								
			</div>			
			
			<div ng-if="content == 'presentDetail'">
				<div ng-include="'views/detail.html'"></div>
			</div>
		</div>

	</section>
</div>
</body>
</html>