<!-- Item template -->

<div as-sortable-item-handle>
        <div class="gallery-box">
            <!--<span class="btn-link"><a data-no-drag target=_top href="https://github.com/a5hik/ng-sortable">test no-drag href</a></span>-->	
			<div class="thumbnail" ng-class="{ 'detailShow': ! detailShow }">
				<img ng-if="checkFlowData(card.data)" flow-img="card.data" />
				<img ng-if="checkStringData(card.data)" ng-src="/api/temp/{{card.data}}" />
				<button class="btn btn-info btn-detailShow" data-no-drag ng-click="detailShow = ! detailShow" ng-init="detailShow = true">
					<span class="glyphicon glyphicon-search"></span>
					Увеличить
				</button>
				<div class="detailShowBlock" ng-class="{ 'detailShow': ! detailShow }" ng-click="detailShow = true">
					<div class="detailShowDescription">
						<img ng-if="checkFlowData(card.data)" flow-img="card.data" />
						<img ng-if="checkStringData(card.data)" ng-src="/api/temp/{{card.data}}" />
						<div class="detailShowDescriptionText">
							<p>{{card.title}}</p>
							<p>{{card.details}}</p>
						</div>
					</div>
				</div>
			</div>
            <h4 data-no-drag class="card-title editable" class="editable" ng-click="slideName = ! slideName; temp.name = card.title">
				{{card.title}}<span class="glyphicon glyphicon-pencil edit"></span>
			</h4>
			
			<div data-no-drag class="input-group slideNameForm" ng-class="{ 'hidden': ! slideName }">
				<input type="text" class="form-control" placeholder="{{card.title}}" name="input" ng-model="card.title" required ng-trim="false"/>
				<span class="input-group-btn">
					<button class="btn btn-success active" type="button" ng-click="slideName = ! slideName"><span class="glyphicon glyphicon-ok"></span></button>
					<button class="btn btn-danger active" type="button" ng-click="slideName = ! slideName; card.title=temp.name"><span class="glyphicon glyphicon-remove"></span></button>
				</span>
			</div>
			
            <span data-no-drag class="editable" ng-click="slideDetailsForm = ! slideDetailsForm; temp.name = card.details">
				Описание : {{card.details}}
				<span class="glyphicon glyphicon-pencil edit"></span>
			</span>
			<p ng-if="whereGo">Есть переход на {{whereGo.name}}</p>
			
			<div data-no-drag class="input-group slideDetailsForm" ng-class="{ 'hidden': ! slideDetailsForm }">
				<input type="text" class="form-control" placeholder="{{card.details}}" name="input" ng-model="card.details" required ng-trim="false"/>
				<span class="input-group-btn">
					<button class="btn btn-success active" type="button" ng-click="slideDetailsForm = ! slideDetailsForm"><span class="glyphicon glyphicon-ok"></span></button>
					<button class="btn btn-danger active" type="button" ng-click="slideDetailsForm = ! slideDetailsForm; card.details=temp.name"><span class="glyphicon glyphicon-remove"></span></button>
				</span>
			</div>
			
			<a data-no-drag class="btn btn-danger btn-removeCard" ng-click="removeCard(column, card)"><span class="glyphicon glyphicon-trash"></span>Удалить</a>
			<a data-no-drag class="btn btn-info btn-branch sample-show-hide" ng-click="buildWayModeCh(true,columnIndex,cardIndex); buildWayModeShow=true" ng-class="{ 'expand': buildWayModeShow }">
				<span class="glyphicon glyphicon-share"></span>
				Переход
				<div class="choosen">	
					<span>Выберите слайд <br/> для перехода</span><br/>
					<button class="btn btn-warning active" type="button" ng-click="buildWayModeCh(false); buildWayModeShow=false;$event.stopPropagation();"><span class="glyphicon glyphicon-remove"></span></button>
				</div>
			</a>
        </div>
		
		
		<div ng-if="whereGo" class="ways" ng-include="'views/ways.html'"></div>
		
</div>

