			<div flow-init flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-file-success="addNewCard($file,presentData.columns[0])">					
				<h2 class="editable" ng-click="presentName = ! presentName; temp.name = presentData.name">Презентация {{presentData.name}} <span class="glyphicon glyphicon-pencil edit"></span></h2>
					
				<div class="input-group presentNameForm" ng-class="{ 'hidden': ! presentName }">
					<input type="text" class="form-control" placeholder="{{presentData.name}}" name="input" ng-model="presentData.name" required ng-trim="false"/>
					<span class="input-group-btn">
						<button class="btn btn-success active" type="button" ng-click="presentName = ! presentName">Сохранить</button>
						<button class="btn btn-danger active" type="button" ng-click="presentName = ! presentName; presentData.name=temp.name">Отменить</button>
					</span>
				</div>
				
				<div class="drop" flow-drop ng-class="dropClass">
					<span class="btn btn-default" flow-btn><span class="glyphicon glyphicon-download"></span>Загрузить изображения</span>
					<span class="btn btn-default" flow-btn flow-directory ng-show="$flow.supportDirectory"><span class="glyphicon glyphicon-folder-open"></span>Загрузить папку с изображениями</span>
					<b>или</b>
					Перенесите изображение в эту область
				</div>
				<div class="alert alert-danger" ng-repeat="alert in alertSizeFiles" ng-click="deleteAlert(alert)" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Слишком большой размер изображения {{alert}}! Допустимо до 5мб.</div>
				
				<div id="columns" class="row">
					
					<div class="column_present" ng-repeat="column in presentData.columns" data-columnindex="{{$index}}" id="column{{$index}}">
						<div class="column">
							<div class="columnHeader">
								<a title="remove column" class="btn btn-xs btn-danger removeColumn" ng-click="removeColumn(column)"><span class="glyphicon glyphicon-trash"></span>Удалить ветку {{column.name}}</a>
									
								<span class="present_title editable" ng-click="changeTitle = ! changeTitle; temp.name = column.name">
									Ветка {{column.name}} <span class="glyphicon glyphicon-pencil edit"></span> (слайдов: {{column.cards.length}})
								</span>								
								
								<div class="input-group" ng-class="{ 'hidden': ! changeTitle }">
									<input type="text" class="form-control" placeholder="{{column.name}}" name="input" ng-model="column.name" required ng-trim="false"/>
									<span class="input-group-btn">
										<button class="btn btn-success active" type="button" ng-click="changeTitle = ! changeTitle">Сохранить</button>
										<button class="btn btn-danger active" type="button" ng-click="changeTitle = ! changeTitle; column.name=temp.name">Отменить</button>
									</span>
								</div>
								
							</div>
							<ul class="cards card-list" as-sortable="presentSortOptions" ng-model="column.cards">
								<li class="card" ng-repeat="card in column.cards" as-sortable-item ng-include="'views/partials/card.html'"></li>
							</ul>
						</div>
					</div>
					<button ng-click="addNewColumn()" class="btn btn-success addNewColumn"><span class="glyphicon glyphicon-plus"></span>Добавить новую ветку презентации</button>
				</div>
				<div class="presentManipulate">
					<p class="btn-group btn-group-lg" role="group">
						<button class="btn btn-success" type="button" ng-click="saveData(presentData)"><span class="glyphicon glyphicon-ok"></span>Сохранить</button>
						<button class="btn btn-warning" type="button" ng-click="setContent('presentList')"><span class="glyphicon glyphicon-remove"></span>Отменить изменения</button>
						<button class="btn btn-danger" type="button" ng-click="removeData(presentData)"><span class="glyphicon glyphicon-trash"></span>Удалить презентацию</button>
					</p>
				<div>
			</div>