body{overflow-y:scroll;}
#board {width:80%; margin: 0 auto; padding: 0 10px 0 10px;}
#board table {

}
#board {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#board .table td {
    padding: 5px 5px 0 5px;
}

#board .table th {
    padding: 10px 0 10px 5px;
}

.columnHeader,
#board .table thead th {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: normal;
    border-bottom: 1px solid #dddddd;
}

#board .table thead th:first-of-type {
    padding: 5px 10px 5px 20px;
    white-space: nowrap;
}

#board .table thead {
    border: 1px solid #dddddd;
}

#board .table > tbody > tr > th,
#board .table > tbody > tr > td {
    border-top: none;
}

#board .table thead i,
#board .table tbody i {
    font-size: 14px;
    color: green;
}

#board tbody th,
#board tbody td {
    background-color: #ffffff;
    text-align: center;
}

#board .table td.addTask,
#board .table td.addStory {
    margin: 0;
    padding: 0;
}

#board .table td.addTask button,
#board .table th.addStory button {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 3px;
    border: none;
    background-color: #f2f2f2;
}

#board .table td.addTask button:hover,
#board .table th.addStory button:hover {
    background-color: #fafafa;
}

#board .table .story,
#board .table .task {
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -moz-transform:rotate(-2deg);
}

#board .table .story:hover,
#board .table .story:focus,
#board .table .task:hover,
#board .table .task:focus {
    box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -o-transform: scale(1.12);
    position: relative;
    z-index: 1035;
}

div.story,
div.task {
    position: relative;
    padding: 5px 0;
    margin: 4px 4px 4px 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

div.story {
    margin: 0 5px 0 0;
}

div.story h3,
div.task h3 {
    font-size: 13px;
    line-height: 13px;
    padding: 0;
    margin: 5px;
    text-align: center;
    text-shadow: none;
    font-weight: normal;
    transform-style: preserve-3d;
    -webkit-backface-vivbility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
}

#columns { margin: 20px 0 5px 0;}

.column {
    border: solid 1px darkgrey;
}
.card-list {
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 50px;
}

.noMargin { margin-bottom: 0;}

.default {
    box-shadow: inset rgba(0, 0, 0, 0.0980392) 0 1px 10px 0;
}
.default-color { background-color: #ffffff; }

.card {
   display: inline-block;
   vertical-align:top;
}

.card-title {
    color: #7c9eb2;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.5em;
    padding: 2px 1px;
    display: block;
}

.removeColumn{
	float:right;
}

.column_present{
 margin: 10px 0;
}

.addNewCard {
    padding: 30px;
    color:  red;
}

.removeCard {
    padding: 12px;
    color: #444;
}

.features {
    float: right;
    width: 300px;
    padding-left: 20px;
}
.features .heading {
    font-size: 14px;
    font-weight: bold;
}

.drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
}
.drop.drag-over {
    background: #5CB85C;
    color: #fff
}
.transfer-box {
    margin-bottom: 5px;
}
.transfer-box .progress {
    margin-bottom: 0;
}

.thumbnail {
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: normal;
	border:none;
}
.thumbnail img {
    width:100%;
}

.gallery-box {
    width: 200px;
    padding: 5px;
    margin: 7px;
    min-height: 200px;
    overflow: hidden;
}
.gallery-box .progress {
    margin-bottom: 0;
}
.gallery-box .thumbnail {
    height: 150px;
    width: 200px;
	margin: 10px 0;
	background:none;
}
.gallery-box .title {
    height: 22px;
    overflow: hidden;
    display: block;
}

/* ng-sortable css file */
.as-sortable-item,.as-sortable-placeholder{
	margin:10px;
}

.as-sortable-item{
	border:solid 1px darkgrey;
	background-color:#fff
}

.as-sortable-placeholder{
	border:1px dashed darkgrey;
	box-sizing:border-box;
	background-color:#dbdbdb;
	display:inline-block;
}

.as-sortable-drag{opacity:.8}

/* ng-sortable css file */
.as-sortable-item{-ms-touch-action:none;touch-action:none}
.as-sortable-item-handle{cursor:move}
.as-sortable-drag{position:absolute;pointer-events:none;z-index:9999}
.as-sortable-hidden{display:none!important}



.input-group{
	width: 30%;
	margin: 10px 30px;
}
.hidden{
	display:none;
}
.present_title{
	position:relative;
}
.presentNameForm{
	margin: 0;
	padding: 5px 0 30px 0;
}
.editable{
	cursor:pointer;
}
.edit{
	opacity:0;
	color: #333;
	font-size:70%;
	vertical-align:baseline
}
.editable:hover .edit{
	opacity:1;
}
.alert-danger{
	cursor:pointer;
}
.slideNameForm,.slideDetailsForm{
	margin:0;
	width:100%;
}
.btn-removeCard{
	width:100%;
}
.presentBlock{
	height: 300px;
	background: #f9f9f9;
	padding: 10px;
	overflow:hidden;
	margin: 20px 0;
	cursor:pointer;
}
.presentBlock:hover{
	background: rgb(221, 221, 221);	
}
.presentBlock .thumbnail{
	min-height:150px;
}
.presentBlock .thumbnail span{
	text-align:center;
	width:100%;
	font-size:100pt;
	color:#ccc;
}
.createPresentBtn{
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 20pt;
	white-space: normal;
}
.createPresentBtn:hover{
	background: #ccc;	
}
.presentManipulate{
	margin:20px 0;
}
.glyphicon{
	margin-right:5px;
}