body{overflow-y:scroll;}
h2{  display: inline-block;  margin: 30px 0;  vertical-align: middle;}
select{  color: #333;}
.wrapper {width:80%; margin: 0 auto; padding: 0 10px 0 10px;}
.cont-auth{
	width:300px;
	margin:50px 0;
}

#board {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#board .columnHeader{
    padding: 5px 10px;
    font-size: 20px;
    font-weight: normal;
    border-bottom: 1px solid #dddddd;
}


#columns { margin: 20px 0 5px 0; position:relative;}

.column {
    border: solid 1px darkgrey;
	min-height: 300px;
}
.card-list {
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 50px;
}

.noMargin { margin-bottom: 0;}

.default {
    box-shadow: inset rgba(0, 0, 0, 0.0980392) 0 1px 10px 0;
}
.default-color { background-color: #ffffff; }

.card {
   display: inline-block;
   vertical-align:top;
   height: 300px;
   padding: 10px;
}
.slideInfo{
	position: absolute;
	width: 100%;
	height: 110px;
	overflow: hidden;
	padding-bottom: 20px;
	word-wrap: break-word;
}
.slideInfo:hover{
	height: auto;
	overflow: visible;
	background:#e5e5e5;
	z-index:99999;
}
.card-title {
    color: #7c9eb2;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.5em;
    padding: 2px 1px;
    display: block;
}

.removeColumn{
	float:right;
}

.column_present{
	margin: 10px 0;
	position:relative;
}

.addNewCard {
    padding: 30px;
    color:  red;
}

.removeCard {
    padding: 12px;
    color: #444;
}

.features {
    float: right;
    width: 300px;
    padding-left: 20px;
}
.features .heading {
    font-size: 14px;
    font-weight: bold;
}

.drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
}
.drop.drag-over {
    background: #5CB85C;
    color: #fff
}
.transfer-box {
    margin-bottom: 5px;
}
.transfer-box .progress {
    margin-bottom: 0;
}
.mainProgress{
	display:none;
	margin: 20px 0;
}
.mainProgress.active{
	display:block;
}
.thumbnail {
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: normal;
	border:none;
}
.thumbnail img {
    width:100%;
	pointer-events: none;
}

.gallery-box {
	position:relative;
    width: 200px;
    height: 100%;
}
.gallery-box .progress {
    margin-bottom: 0;
}
.gallery-box .thumbnail {
    height: 150px;
    width: 200px;
	margin: 0;
	padding: 0;
	background:none;
	position:relative;
}
.detailShowBlock{
	display:none;
}
.detailShowBlock.detailShow{
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	display:block;
	z-index: 9999999;
}
.detailShowBlock.detailShow .detailShowDescription{
	position: absolute;
	width: 640px;
	height: 480px;
	top: 50%;
	left: 50%;
	border:1px solid #ccc;
	margin: -250px 0 0 -300px;
}
.detailShowDescription:hover .detailShowDescriptionText{
	opacity:1;
}
.detailShowDescriptionText{
	position:absolute;
	bottom:0;
	color:#fff;
	font-size:12pt;
	width:100%;
	padding:10px;
	opacity:0;
	background: rgba(0,0,0,.4);
	word-wrap: break-word;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.btn-detailShow{
	position: absolute;
	right: 0;
	bottom: 0;
	display:none;	
}
.btn-branch{
	position: absolute;
	left: 0;
	top: 0;
	display:none;	
}
.btn-detailShow span{
	margin:0;
}
.card:hover .btn-detailShow,
.card:hover .btn-branch{
	display:block;
}

.gallery-box .title {
    height: 22px;
    overflow: hidden;
    display: block;
}

/* ng-sortable css file */
.as-sortable-item,.as-sortable-placeholder{
	margin:10px;
}

.as-sortable-item{
	border:solid 1px darkgrey;
	background-color:#fff
}

.as-sortable-placeholder{
	border:1px dashed darkgrey;
	box-sizing:border-box;
	background-color:#dbdbdb;
	display:inline-block;
}

.as-sortable-drag{opacity:.8}

/* ng-sortable css file */
.as-sortable-item{-ms-touch-action:none;touch-action:none}
.as-sortable-item-handle{cursor:move}
.as-sortable-drag{position:absolute;pointer-events:none;z-index:9999}
.as-sortable-hidden{display:none!important}



.input-group{
	width: 30%;
}
.hidden{
	display:none;
}
.present_title{
	position:relative;
}
.editable{
	cursor:pointer;
}
.edit{
	opacity:0;
	color: #333;
	font-size:70%;
	vertical-align:baseline
}
.editable:hover .edit{
	opacity:1;
}
.alert-danger{
	cursor:pointer;
}
.slideNameForm,.slideDetailsForm{
	margin:0;
	width:100%;
}
.btn-removeCard{	
	position: absolute;
	display: none;
	top: 0;
	right:0;
}
.card:hover .btn-removeCard{
	display:block;
}
.presentBlock{
	display:block;
	text-decoration:none;
	height: 300px;
	background: #f9f9f9;
	padding: 10px;
	overflow:hidden;
	margin: 20px 0;
	cursor:pointer;
	color:#333;
}
.presentBlock:hover{
	background: rgb(221, 221, 221);	
	text-decoration:none;
}
.presentBlock .thumbnail{
	min-height:150px;
}
.presentBlock .thumbnail span{
	text-align:center;
	width:100%;
	font-size:100pt;
	color:#ccc;
}
.createPresentBtn{
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 20pt;
	white-space: normal;
}
.createPresentBtn:hover{
	background: #ccc;	
}
.presentManipulate{
	margin:20px 0;
}
.presentManipulate .btn{
	position:relative;
}
.glyphicon{
	margin-right:5px;
}
.progresSaving{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display:none;
}
.progresSaving.active{
	display:block;
}
.progresSaving .progress-bar{
	width: 100%;
	height: 100%;
}

.btn-branch.expand{
	width: 100%;
	height: 100%;
	display:block;
}
.choosen{
	display:none;
}
.btn-branch.expand .choosen{
	display:block;
}
.buildWayModeToGo{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:#5cb85c;
	display:none;
	cursor:pointer;
	text-align: center;
	color: #fff;
	font-size: 15pt;
	z-index: 5;
}
.buildWayModeToGo p:first-child{
	margin: 40px 20px;
}
.buildWayModeToGo.expand{
	display:block;	
}
.buildWayModeShow .choosen{
	font-size: 15pt;	
}

.jumps{  position: relative;}
.steps{	position: absolute;	background: #ccc;opacity:1;}
.card:hover .steps{
	opacity:1;
}
.step1{  
	width: 10px;
	left: 45%;
 }
.step2{ 
	height: 10px;
	bottom: 0;
	right: 0;
}
.step3{ 
	width: 10px;
	top: 0;
	left: 0;
}
.step4{ 
	height: 10px;
	bottom: 0;
	left: 0;
}
.step5{  
	width: 10px;
	top: 0;
	right:0;
}
 